@model Blog.Models.Post
@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>

<div class="col-md-12">
    <form action="/Home/adicionaPost" method="post" id="post">
        <div class="row">
            @*<div class="col-md-3">
                   <input class="form-control" name="Id" value="@Model.Id" />
                </div>*@

            <div class="col-md-3">
                <label>título</label>  <input class="form-control" name="Titulo" value="@Model.Titulo" />
                @*@Html.ValidationMessage("titulo")*@
            </div>

            <div class="col-md-3">
                <label>Resumo</label>  <input class="form-control" name="Resumo" value="@Model.Resumo" />
                @*@Html.ValidationMessage("resumo")*@
            </div>
            <div class="col-md-3">
                <label>Categoria</label>  <input class="form-control" name="Categoria" value="@Model.Categoria" />
                @*@Html.ValidationMessage("Categoria")*@
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-3">
                <label></label> <input type="hidden" name="DataPublicacao" value="@Model.DataPublicacao" hidden />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <input type="hidden" name="Publicado" value="@Model.Publicado.ToString()" />
            </div>
            <div class="col-md-3">
                <button class="form-control" type="submit">enviar</button>
            </div>
        </div>
        <div class="row" style="margin-top:40px">

        </div>
    </form>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/Post.js"></script>